<mat-card>

<h4>Create New Member</h4>
<form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
  <mat-form-field>
    <mat-label>Student</mat-label>
    <mat-select formControlName="student" [(ngModel)]="selectedItem">

        <mat-option *ngFor="let element of dataSource" [value]="element.id">
          {{element.prenom +' ' +element.nom}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Teacher</mat-label>
    <mat-select formControlName="teacher" [(ngModel)]="selectedItem2">

      <mat-option *ngFor="let element of teachers" [value]="element.id">
        {{element.prenom +' ' +element.nom}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
  </div>
</form>
</mat-card>
