
<h4>Create New Member</h4>
<form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Pokemon</mat-label>
    <mat-select [formControl]="form">
      <mat-optgroup >
        <mat-option *ngFor="let element of dataSource" [value]="element.nom">
          {{element.nom}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
  </div>
</form>
